/* Color Palette */
/*
// rgba(255, 217, 142, 1) // orangey
// rgba(255, 245, 175, 1) // creamy
// rgba(248, 181, 152, 1) // sienna
// rgba(165, 141, 191, 1) // cloudy purple
// rgba(81, 106, 186, 1) // foggy blue
// rgba(41, 86, 167, 1) // night blue
*/

body {
    font-family: sans-serif;
    background: linear-gradient(rgba(255, 217, 142, 0.7),rgba(255, 245, 175, 0.7) );
    background: linear-gradient(220deg, rgba(255, 245, 175, 0.7), rgba(255, 245, 175, 0) 70.71%),
            linear-gradient(330deg, rgba(248, 181, 152, 0.7), rgba(248, 181, 152, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 217, 142, 0.7), rgba(255, 217, 142, 0) 70.71%);
}

.less-opacity {
    opacity: 0.6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem 2rem;
//    background-color: rgba(255, 245, 175, 0.7);//rgba(41, 86, 167, 0.8);//rgba(248, 181, 152, 1);
    color: rgba(248, 181, 152, 1);//rgba(255, 245, 175, 0.7);
}

#title {
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 5rem);
    font-weight: bold;
}

#logged-in-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    margin-top: -2rem;
    margin-bottom: 0rem;
}

.logged-in {
    background-color: rgba(81, 106, 186, 0.7); //rgba(248, 181, 152, 0.7);// rgba(255, 68, 16, 0.7);
    color: rgba(255, 245, 175, 0.7); //rgba(248, 181, 152, 1); #fde27f;
    //color: #fffdd0;
    text-align: center;
    border: none;
    padding: 0.5rem;
    margin: 0.3rem;
    width: 5rem;
    cursor: pointer;
}

.logged-in:hover {
    background-color: rgba(81, 106, 186, 1);//rgba(248, 181, 152, 1);
}

#sign-up-or-in {
    display: flex;
    flex-direction: column;
}

#sign-up-msg {
    margin-top: -1rem;
    padding: 0.5rem;
    text-align: center;
}

#sign-up-msg-hidden {
    margin-top: -1rem;
    padding: 0.5rem;
    visibility: hidden;
}

#auth-error {
    font-style: italic;
}

#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
       background-color: #478476;
    //background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.7rem 0.5rem;
    color: rgba(248, 181, 152, 0.7);
//    color: #fde27f
}

::placeholder {
    color: rgba(248, 181, 152, 0.7);
    opacity: 0.5;
}

#auth-form-btn {
    background-color: rgba(255, 68, 16, 0.7);
    color: #fde27f;
    font-weight: bold;
    border: none;
    padding: 0.75rem;
    width: 5rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-content: center;
}

#auth-form-btn:hover {
    background-color: rgba(255, 68, 16, 1);
    color: #fffdd0;
}

.bottom-row-login {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.google-and-toggle-btn {
    display: flex;
    justify-content: center;
}

.google-auth-msg {
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
}

.bottom-row-msg {
    background-color: rgba(255, 68, 16, 0.5);
    //color: #fde27f;
    color: #fffdd0;
    text-align: center;
    padding: 0.4rem;
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}

.bottom-row-msg:hover {
    background-color: rgba(255, 68, 16, 0.8);
}

#homepage {
    display: flex;
    flex-direction: column-reverse;
}

/* ------------*/
/*   FILTERS   */
/* ----------- */

#filters {
    display: flex;
    padding: 0.5rem;
}

#filters-label {
    margin: 1rem;
}

.filter-container {
    display: flex;
    margin: 0 auto;
}

.filter-label {
    margin: 1rem;
}

/* --------------------*/
/*   DISPLAY CLASSES   */
/* ------------------- */

.display-classes {
    display: flex;
    margin: 2rem 20rem;
    align-items: center;
    justify-content: center;
}

/* ---------------- */
/*   LESSON ROW   */
/* ---------------- */


.lesson-list-header {
    
}

.lesson-row {
    background-color:#fdf1d3;
    margin: 2rem;
    display: flex;
    box-shadow: 0px 2px 2px 2px rgba(248, 181, 152, 0.6);
    border-radius: 10px;
}

.lesson-row:hover {
    cursor: pointer;
    background-color: rgba(248, 181, 152, 0.4);
    box-shadow: none;
    
}

.lesson-time-info {
    display: flex;
    flex-direction: column;
}

.coach-and-studio {
}
