body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
}

#guest-links {
    display: flex;
    flex-direction: column;
}

form div {
  margin: 1em;
  display: inline-block;
}
