/* Color Palette */
/*
// rgba(255, 217, 142, 1) // orangey
// rgba(255, 245, 175, 1) // creamy
// rgba(248, 181, 152, 1) // sienna
// rgba(165, 141, 191, 1) // cloudy purple
// rgba(81, 106, 186, 1) // foggy blue
// rgba(41, 86, 167, 1) // night blue

rgba(248, 142, 114, 1) // more orange
*/
html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
//    background: linear-gradient(rgba(255, 217, 142, 0.7),rgba(255, 245, 175, 0.7) );
    background: linear-gradient(170deg, rgba(165, 141, 191, 1), rgba(81, 106, 186, 0.1) 70.71%),
            linear-gradient(45deg,		    rgba(41, 86, 167, 1), rgba(41, 86, 167, 0.3) 70.71%),
            linear-gradient(271deg, rgba(81, 106, 186, 0.7),rgba(81, 106, 186, 0) 90.71%);
    min-height: 100%;
    overflow: hidden;

/*background: linear-gradient(220deg, rgba(255, 245, 175, 0.7), rgba(255, 245, 175, 0) 70.71%),
            linear-gradient(330deg, rgba(248, 181, 152, 0.7), rgba(248, 181, 152, 0) 70.71%),
            linear-gradient(127deg, rgba(255, 217, 142, 0.7), rgba(255, 217, 142, 0) 70.71%);
//	    linear-gradient(100deg, rgba(248, 181, 152, 0.3), rgba(248, 181, 152, 0) 70.71%);
*/
}

.less-opacity {
//    opacity: 0.6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    color: rgba(248, 181, 152, 1);
    color: rgba(255, 245, 175, 1);
    //color: rgba(253, 241, 211, 1);
    background-color: rgba(81, 106, 186, 0.4);
}

#nav-left-side {
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.option {
    padding: 0 1rem;
}

#title {
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 15rem);
    width: 30rem;
//    font-weight: bold;
    text-align: center;
    text-shadow: 0px 4px 0px rgba(255, 217, 142, 1);
}

#logged-in-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    margin-top: -2rem;
    margin-bottom: 0rem;
}

.logged-in {
    background-color: rgba(81, 106, 186, 0.7);
    color: rgba(255, 245, 175, 0.7);
    text-align: center;
    border: none;
    padding: 0.5rem;
    margin: 0.3rem;
    width: 5rem;
    cursor: pointer;
}

.logged-in:hover {
    background-color: rgba(81, 106, 186, 1);
}

/* -------------------- */
/*   LOG IN & SIGN UP   */
/* -------------------- */

#sign-up-or-in {
    display: flex;
    flex-direction: column;
}

#sign-up-msg {
    margin-top: -1rem;
    padding: 0.5rem;
    text-align: center;
}

#sign-up-msg-hidden {
    margin-top: -1rem;
    padding: 0.5rem;
    visibility: hidden;
}

#auth-error {
    font-style: italic;
}

#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
//    background-color: purple; // rgba(248, 181, 152, 0.7);//white;
border: 1px solid rgba(81, 106, 186, 0.2);
border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0.7rem 0.5rem;
//    color: black;
color: rgba(248, 181, 152, 1);
color: rgba(81, 106, 186, 1);
//    color: #fde27f
}

::placeholder {
    color: rgba(248, 181, 152, 1);
    color: rgba(81, 106, 186, 1);
//    color: black;
    opacity: 0.7;
}

#auth-form-btn {
    background-color: rgba(255, 68, 16, 0.7);
    color: #fde27f;
    font-weight: bold;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-content: center;
}

#auth-form-btn:hover {
    background-color: rgba(255, 68, 16, 1);
    color: #fffdd0;
}

.bottom-row-login {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
}

.google-and-toggle-btn {
    display: flex;
    justify-content: center;
}

.google-auth-msg {
    margin: 0.2rem 0.2rem;
    padding: 0.2rem 0.2rem;
}

/* -------------*/
/*   HOMEPAGE   */
/* ------------ */

#homepage {
    display: flex;
    flex-direction: column-reverse;
}

/* ------------*/
/*   FILTERS   */
/* ----------- */

#filters {
    display: flex;
    padding: 0.5rem;
}

#filters-label {
    margin: 1rem;
}

.filter-container {
    display: flex;
    margin: 0 auto;
}

.filter-label {
    margin: 1rem;
}

/* --------------------*/
/*   DISPLAY CLASSES   */
/* ------------------- */

#display-classes {
    margin: 1rem 10rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.day-container {
    margin: 0 3rem;
}

.days-classes {
    max-height: 70vh;
    overflow-y: scroll;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
//    padding: 2rem;
//    box-shadow: 0px 2px 1px 5px rgba(248, 181, 152, 1);
}

.day-of-the-week {
    text-align: center;
    padding: 2rem;
}

/* ---------------- */
/*   LESSON ROW     */
/* ---------------- */


.lesson-list-header {
    margin: 0 2rem;
    margin-bottom: -2rem;
    display: flex;
//    box-shadow: 0px 2px 2px 2px rgba(248, 181, 152, 0.6);
border-radius: 10px;
display: flex;
justify-content: flex-end;

}

.lesson-row {
    background-color:  rgba(255, 245, 175, 1); //rgba(253, 241, 211, 1);
    margin: 1rem 1rem;
    display: flex;
//    box-shadow: 0px 0px 2px 2px rgba(255, 245, 175, 1);// rgba(165, 141, 191, 0.4);//rgba(41, 86, 167, 0.4);//rgba(248, 181, 152, 1);
//    box-shadow: 0px 2px 2px 2px rgba(248, 181, 152, 0.6);
border-radius: 10px;
background-color: rgba(128, 0, 128, 0.5); //rgba(41, 86, 167, 0.9);
}

.lesson-row:hover {
    cursor: pointer;
    color: rgba(255, 217, 142, 1);
    background-color: ;// rgba(248, 181, 152, 0.4);
box-shadow: none;
box-shadow: 0px 0px 1px 1px rgba(255, 245, 175, 1);//rgba(165, 141, 191, 0.4);//rgba(41, 86, 167, 0.4);//rgba(248, 181, 152, 1);
background: linear-gradient(220deg, rgba(128, 0, 128, 0.5),rgba(128, 0, 128, 0.9) 75%);
}

.lesson-time-info {
    display: flex;
    flex-direction: column;
}

.coach-and-studio {
}


/* ---------------- */
/*    USER HOME     */
/* ---------------- */

.profile {
    margin: 0 auto;
    padding: 3rem 3rem;
}

.instructor-info {
    display: flex;
    justify-content: space-around;
}
